* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: blue;
}
p {
  font-size: 18px;
}
.container {
  display: grid;
  grid-template-columns: 60% 20% 18%;
  margin: 20px;
  gap: 10px;
}
.container-items {
  background-color: #fff;
  color: black;
}
.container .item3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.title {
  border-bottom: 1px solid #a19696;
  color: blue;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
}
.title-text {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #a19696;
  padding: 10px;
}
.number-01 {
  display: block;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background-color: rgb(84, 84, 186);
}
.scopes {
  display: flex;
  padding: 10px;
}
.scopes p {
  padding-top: 20px;
}
.scopes h3 {
  padding-top: 10px;
  font-size: 25px;
}
.primary {
  display: flex;
  gap: 20px;
  padding: 10px;
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .title-text,
  /* .scopes, */
  .primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .timeline {
    align-items: start;
  }
  .scopes {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* Mobile */
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .title-text,
  .scopes,
  .primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
